$header-gradient: linear-gradient(#005cb4, #004b8d);
$brandName-color: #fff;
$font-color-1: #222;
$font-color-2: #154063;
$font-color-3: #8c7c5c;
$font-1: 'Calibri';
$font-2: 'Cinzel', 'Arial', serif; 